<div fxLayoutAlign="center">
    <fieldset class="fieldset" fxFlex="40">
        <h1 fxLayoutAlign="center">New Post !</h1>
        <form fxLayout="column" (ngSubmit)="submitPost()" [formGroup]="newPostForm">
            <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input placeholder="Title..." matInput formControlName="title" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Content</mat-label>
                <textarea placeholder="Content..." matInput formControlName="content" rows="15"></textarea>
            </mat-form-field>
            <div fxFlex="50" fxLayoutAlign="center">
                <button mat-raised-button color="primary" type="submit" [disabled]="!newPostForm.valid">Submit Post</button>
            </div>
        </form>
    </fieldset>
</div>